.commentcard{
    border: 1px solid black;
    width: 50%;
    display: inline-block;
    margin: 2px;
    text-align: left;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #6F4E37;
    color: white;
    /* font-weight: bold; */
    /* font-size: large; */
}
.cmntusr{
    background-color: rgb(206, 204, 204);
    display: inline-block;
    color: black;
   
}
/* .cmntp{
    overflow: scroll;
} */