.sign{
    border-radius: 5px;
    margin-bottom: 10px;
}
.sbtn{
    background-color: #74512D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}